<!-- About Section -->
<section class="success" id="order">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Order</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Our honey is available for collection from Theydon Place, Epping CM16 4NH.  Please get in contact with us to arrange a collection.</p>
      </div>
      <div class="col-lg-4">
        <p>Our xxxml jars are £6 each.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
       
      </div>
    </div>
  </div>
</section>
